In [2]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("ahmedmohamed2003/retail-store-sales-dirty-for-data-cleaning")

print("Path to dataset files:", path)

Path to dataset files: C:\Users\ASUS\.cache\kagglehub\datasets\ahmedmohamed2003\retail-store-sales-dirty-for-data-cleaning\versions\1

In [2]:
import pandas as pd
df = pd.read_csv('retail_store_sales.csv')
df.head()

,Transaction ID,Customer ID,Category,Item,Price Per Unit,Quantity,Total Spent,Payment Method,Location,Transaction Date,Discount Applied
0,TXN_6867343,CUST_09,Patisserie,Item_10_PAT,18.5,10.0,185.0,Digital Wallet,Online,2024-04-08,True
1,TXN_3731986,CUST_22,Milk Products,Item_17_MILK,29.0,9.0,261.0,Digital Wallet,Online,2023-07-23,True
2,TXN_9303719,CUST_02,Butchers,Item_12_BUT,21.5,2.0,43.0,Credit Card,Online,2022-10-05,False
3,TXN_9458126,CUST_06,Beverages,Item_16_BEV,27.5,9.0,247.5,Credit Card,Online,2022-05-07,NaN
4,TXN_4575373,CUST_05,Food,Item_6_FOOD,12.5,7.0,87.5,Digital Wallet,Online,2022-10-02,False

In [23]:
df.shape

(12575, 11)

In [7]:
df = df.rename(columns=lambda x: x.strip().lower().replace(' ', '_'))
df.columns

Index(['transaction_id', 'customer_id', 'category', 'item', 'price_per_unit',
       'quantity', 'total_spent', 'payment_method', 'location',
       'transaction_date', 'discount_applied'],
      dtype='object')

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12575 entries, 0 to 12574
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   transaction_id    12575 non-null  object
 1   customer_id       12575 non-null  object
 2   category          12575 non-null  object
 3   item              11362 non-null  object
 4   price_per_unit    11966 non-null  float64
 5   quantity          11971 non-null  float64
 6   total_spent       11971 non-null  float64
 7   payment_method    12575 non-null  object
 8   location          12575 non-null  object
 9   transaction_date  12575 non-null  object
 10  discount_applied  8376 non-null   object
dtypes: float64(3), object(8)
memory usage: 1.1+ MB

In [9]:
df['transaction_date'] = pd.to_datetime(df['transaction_date'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12575 entries, 0 to 12574
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   transaction_id    12575 non-null  object
 1   customer_id       12575 non-null  object
 2   category          12575 non-null  object
 3   item              11362 non-null  object
 4   price_per_unit    11966 non-null  float64
 5   quantity          11971 non-null  float64
 6   total_spent       11971 non-null  float64
 7   payment_method    12575 non-null  object
 8   location          12575 non-null  object
 9   transaction_date  12575 non-null  datetime64[ns]
 10  discount_applied  8376 non-null   object
dtypes: datetime64[ns](1), float64(3), object(7)
memory usage: 1.1+ MB

In [14]:
df_cleaned = df.dropna()

In [18]:
unique_values = df_cleaned['discount_applied'].unique()
print(unique_values)

[True False]

In [17]:
df_cleaned.head()

,transaction_id,customer_id,category,item,price_per_unit,quantity,total_spent,payment_method,location,transaction_date,discount_applied
0,TXN_6867343,CUST_09,Patisserie,Item_10_PAT,18.5,10.0,185.0,Digital Wallet,Online,2024-04-08,True
1,TXN_3731986,CUST_22,Milk Products,Item_17_MILK,29.0,9.0,261.0,Digital Wallet,Online,2023-07-23,True
2,TXN_9303719,CUST_02,Butchers,Item_12_BUT,21.5,2.0,43.0,Credit Card,Online,2022-10-05,False
4,TXN_4575373,CUST_05,Food,Item_6_FOOD,12.5,7.0,87.5,Digital Wallet,Online,2022-10-02,False
6,TXN_3652209,CUST_07,Food,Item_1_FOOD,5.0,8.0,40.0,Credit Card,In-store,2023-06-10,True

In [19]:
df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7579 entries, 0 to 12573
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   transaction_id    7579 non-null   object
 1   customer_id       7579 non-null   object
 2   category          7579 non-null   object
 3   item              7579 non-null   object
 4   price_per_unit    7579 non-null   float64
 5   quantity          7579 non-null   float64
 6   total_spent       7579 non-null   float64
 7   payment_method    7579 non-null   object
 8   location          7579 non-null   object
 9   transaction_date  7579 non-null   datetime64[ns]
 10  discount_applied  7579 non-null   object
dtypes: datetime64[ns](1), float64(3), object(7)
memory usage: 710.5+ KB

In [20]:
has_duplicates = df['transaction_id'].duplicated().any()
print(f"Has duplicates: {has_duplicates}")

Has duplicates: False

In [21]:
# Calculate percentage of null values per column
null_percentage = (df_cleaned.isnull().sum() / len(df)) * 100

# Display results
print("Percentage of null values per column:")
print(null_percentage)

Percentage of null values per column:
transaction_id      0.0
customer_id         0.0
category            0.0
item                0.0
price_per_unit      0.0
quantity            0.0
total_spent         0.0
payment_method      0.0
location            0.0
transaction_date    0.0
discount_applied    0.0
dtype: float64

In [26]:
df['category'] = df['category'].astype('category')

In [27]:
df_cleaned = df.dropna()

In [28]:
df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7579 entries, 0 to 12573
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   transaction_id    7579 non-null   object
 1   customer_id       7579 non-null   object
 2   category          7579 non-null   category
 3   item              7579 non-null   object
 4   price_per_unit    7579 non-null   float64
 5   quantity          7579 non-null   float64
 6   total_spent       7579 non-null   float64
 7   payment_method    7579 non-null   object
 8   location          7579 non-null   object
 9   transaction_date  7579 non-null   datetime64[ns]
 10  discount_applied  7579 non-null   object
dtypes: category(1), datetime64[ns](1), float64(3), object(6)
memory usage: 659.1+ KB

In [24]:
df_cleaned.shape

(7579, 11)

In [29]:
df_cleaned.to_csv('cleaned_Data.csv', index=False)